# Desenvolvimento rápido de aplicações em Python

In [ ]:
# Integração com banco de dados
import sqlite3
conexao = sqlite3.connect('meu_banco.db')

### Para criar um banco em memória pode ser utilizado o seguinte comando: conexao = sqlite3.connect(':memory:').

In [5]:
import sqlite3 as conector

try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

   # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Pessoa (
                     cpf INTEGER NOT NULL,
                     nome TEXT NOT NULL,
                     nascimento DATE NOT NULL,
                     oculos BOOLEAN NOT NULL,
                     PRIMARY KEY (cpf)
                     );'''
 
    cursor.execute(comando)
 
    # Efetivação do comando
    conexao.commit()
 
except conector.DatabaseError as err:
    print("Erro de banco de dados", err)
 
finally:
     # Fechamento das conexões
     if conexao:
         cursor.close()
         conexao.close()

In [6]:
try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

   # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Marca (
                  id INTEGER NOT NULL,
                  nome TEXT NOT NULL,
                  sigla CHARACTER(2) NOT NULL,
                  PRIMARY KEY (id)
                  );'''
 
    cursor.execute(comando)
 
    # Efetivação do comando
    conexao.commit()
 
except conector.DatabaseError as err:
    print("Erro de banco de dados", err)
 
finally:
     # Fechamento das conexões
     if conexao:
         cursor.close()
         conexao.close()

In [7]:
try:
    # Abertura de conexão e aquisição de cursor
    conexao = conector.connect("./meu_banco.db")
    cursor = conexao.cursor()

   # Execução de um comando: SELECT... CREATE ...
    comando = '''CREATE TABLE Veiculo (
                  placa CHARACTER(7) NOT NULL,
                  ano INTEGER NOT NULL,
                  cor TEXT NOT NULL,
                  proprietario INTEGER NOT NULL,
                  marca INTEGER NOT NULL,
                  PRIMARY KEY (placa),
                  FOREIGN KEY(proprietario) REFERENCES Pessoa(cpf),
                  FOREIGN KEY(marca) REFERENCES Marca(id)
                  );'''
 
    cursor.execute(comando)
 
    # Efetivação do comando
    conexao.commit()
 
except conector.DatabaseError as err:
    print("Erro de banco de dados", err)
 
finally:
     # Fechamento das conexões
     if conexao:
         cursor.close()
         conexao.close()

In [8]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()
 
# Execução de um comando: SELECT... CREATE ...
comando = '''ALTER TABLE Veiculo
                 ADD motor REAL;'''
  
cursor.execute(comando)
  
# Efetivação do comando
conexao.commit()

In [9]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Execução de um comando: SELECT... CREATE ...
comando1 = '''DROP TABLE Veiculo;'''

cursor.execute(comando1)

comando2 = '''CREATE TABLE Veiculo (
               placa CHARACTER(7) NOT NULL,
                ano INTEGER NOT NULL,
               cor TEXT NOT NULL,
                motor REAL NOT NULL,
               proprietario INTEGER NOT NULL,
                marca INTEGER NOT NULL,
               PRIMARY KEY (placa),
                FOREIGN KEY(proprietario) REFERENCES Pessoa(cpf),
               FOREIGN KEY(marca) REFERENCES Marca(id)
                );'''

cursor.execute(comando2)

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

In [10]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()
 
# Execução de um comando: SELECT... CREATE ...
comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos)
       VALUES (12345678900, 'João', '2000-01-31', 1);'''
  
cursor.execute(comando)
  
# Efetivação do comando
conexao.commit()
  
# Fechamento das conexões
cursor.close()
conexao.close()

In [20]:
class Pessoa:
    def __init__(self, cpf, nome, data_nascimento, usa_oculos):
        self.cpf = cpf
        self.nome = nome
        self.data_nascimento = data_nascimento
        self.usa_oculos = usa_oculos
        self.veiculos = []

class Marca:
    def __init__(self, id, nome, sigla):
        self.id = id
        self.nome = nome
        self.sigla = sigla

 
class Veiculo:
    def __init__(self, placa, ano, cor, motor, proprietario, marca):
        self.placa = placa
        self.ano = ano
        self.cor = cor
        self.motor = motor
        self.proprietario = proprietario
        self.marca = marca

In [16]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Criação de um objeto do tipo Pessoa
pessoa = Pessoa(10000000099, 'Maria', '1990-01-31', False)

# Definição de um comando com query parameter
comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos) VALUES (?, ?, ?, ?);'''
cursor.execute(comando, (pessoa.cpf, pessoa.nome, pessoa.data_nascimento, pessoa.usa_oculos))

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

### Inserção de dados em tabela com queries dinâmicas e nomes

In [17]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()
 
# Criação de um objeto do tipo Pessoa
pessoa = Pessoa(20000000099, 'José', '1990-02-28', False)
  
# Definição de um comando com query parameter
comando = '''INSERT INTO Pessoa (cpf, nome, nascimento, oculos)
                     VALUES (:cpf,:nome,:data_nascimento,:usa_oculos);'''
cursor.execute(comando, {"cpf": pessoa.cpf,
                           "nome": pessoa.nome,
                           "data_nascimento": pessoa.data_nascimento,
                           "usa_oculos": pessoa.usa_oculos})
  
# Efetivação do comando
conexao.commit()
  
# Fechamento das conexões
cursor.close()
conexao.close()

### Exemplo simplificado:

In [ ]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Criação de um objeto do tipo Pessoa
pessoa = Pessoa(30000000099, 'Silva', '1990-03-30', True)

# Definição de um comando com named parameter
comando = '''INSERT INTO Pessoa VALUES (:cpf,:nome,:data_nascimento,:usa_oculos);'''
cursor.execute(comando, vars(pessoa)) # A função interna vars retorna todos os atributos de um objeto na forma de dicionário, no qual cada chave é o nome de um atributo.
print(vars(pessoa))

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

{'cpf': 30000000099, 'nome': 'Silva', 'data_nascimento': '1990-03-30', 'usa_oculos': True}

### Inserção de dados nas tabelas Marca e Veículo

In [21]:
conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Inserção de dados na tabela Marca
comando1 = '''INSERT INTO Marca (nome, sigla) VALUES (:nome, :sigla);'''

marca1 = Marca(1, "Marca A", "MA")
cursor.execute(comando1, vars(marca1))
marca1.id = cursor.lastrowid

marca2 = Marca(2, "Marca B", "MB")
cursor.execute(comando1, vars(marca2))
marca2.id = cursor.lastrowid

# Inserção de dados na tabela Veiculo
comando2 = '''INSERT INTO Veiculo
                VALUES (:placa, :ano, :cor, :motor, :proprietario, :marca);'''
veiculo1 = Veiculo("AAA0001", 2001, "Prata", 1.0, 10000000099, marca1.id)
veiculo2 = Veiculo("BAA0002", 2002, "Preto", 1.4, 10000000099, marca1.id)
veiculo3 = Veiculo("CAA0003", 2003, "Branco", 2.0, 20000000099, marca2.id)
veiculo4 = Veiculo("DAA0004", 2004, "Azul", 2.2, 30000000099, marca2.id)
cursor.execute(comando2, vars(veiculo1))
cursor.execute(comando2, vars(veiculo2))
cursor.execute(comando2, vars(veiculo3))
cursor.execute(comando2, vars(veiculo4))

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

OBS: O comando PRAGMA é uma extensão do SQL exclusiva do SQLite, usada para ajustar certos comportamentos internos do banco de dados. Por padrão, o SQLite não aplica a verificação de restrições de chave estrangeira.

## Atualização e remoção de dados de uma tabela

In [22]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Definição dos comandos
comando1 = '''UPDATE Pessoa SET oculos= 1;'''
cursor.execute(comando1)

comando2 = '''UPDATE Pessoa SET oculos= ? WHERE cpf=30000000099;'''
cursor.execute(comando2, (False,))

comando3 = '''UPDATE Pessoa SET oculos= :usa_oculos WHERE cpf= :cpf;'''
cursor.execute(comando3, {"usa_oculos": False, "cpf": 20000000099})

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

In [23]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
conexao.execute("PRAGMA foreign_keys = on")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''DELETE FROM Pessoa WHERE cpf= 12345678900;'''
cursor.execute(comando)

# Efetivação do comando
conexao.commit()

# Fechamento das conexões
cursor.close()
conexao.close()

## Recuperação de registros do banco de dados

In [24]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos registros
comando = '''SELECT nome, oculos FROM Pessoa;'''
cursor.execute(comando)

# Recuperação dos dados
registros = cursor.fetchall()
print("Tipo retornado pelo fetchall():", type(registros))

for registro in registros:
    print("Tipo:", type(registro), "- Conteúdo:", registro)

# Fechamento das conexões
cursor.close()
conexao.close()

Tipo retornado pelo fetchall(): <class 'list'>
Tipo: <class 'tuple'> - Conteúdo: ('Maria', 1)
Tipo: <class 'tuple'> - Conteúdo: ('José', 0)
Tipo: <class 'tuple'> - Conteúdo: ('Silva', 0)

In [25]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT * FROM Pessoa WHERE oculos=:usa_oculos;'''
cursor.execute(comando, {"usa_oculos": True})

# Recuperação dos registros
registros = cursor.fetchall()
for registro in registros:
    pessoa = Pessoa(*registro)
    print("cpf:", type(pessoa.cpf), pessoa.cpf)
    print("nome:", type(pessoa.nome), pessoa.nome)
    print("nascimento:", type(pessoa.data_nascimento), pessoa.data_nascimento)
    print("oculos:", type(pessoa.usa_oculos), pessoa.usa_oculos)

# Fechamento das conexões
cursor.close()
conexao.close()

cpf: <class 'int'> 10000000099
nome: <class 'str'> Maria
nascimento: <class 'str'> 1990-01-31
oculos: <class 'int'> 1

## Conversão de datas e booleanos.

In [26]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db", detect_types=conector.PARSE_DECLTYPES)
cursor = conexao.cursor()

# Funções conversoras
def conv_bool(dado):
    return True if dado == 1 else False

# Registro de conversores
conector.register_converter("BOOLEAN", conv_bool)

# Definição dos comandos
comando = '''SELECT * FROM Pessoa WHERE oculos=:usa_oculos;'''
cursor.execute(comando, {"usa_oculos": True})

# Recuperação dos registros
registros = cursor.fetchall()
for registro in registros:
    pessoa = Pessoa(*registro)
    print("cpf:", type(pessoa.cpf), pessoa.cpf)
    print("nome:", type(pessoa.nome), pessoa.nome)
    print("nascimento:", type(pessoa.data_nascimento), pessoa.data_nascimento)
    print("oculos:", type(pessoa.usa_oculos), pessoa.usa_oculos)

# Fechamento das conexões
cursor.close()
conexao.close()

cpf: <class 'int'> 10000000099
nome: <class 'str'> Maria
nascimento: <class 'datetime.date'> 1990-01-31
oculos: <class 'bool'> False

C:\Users\pelli\AppData\Local\Temp\ipykernel_8920\30398943.py:17: DeprecationWarning: The default date converter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes
  registros = cursor.fetchall()

## Seleção de registros utilizando junção

In [27]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos
comando = '''SELECT * FROM Veiculo;'''
cursor.execute(comando)

# Recuperação dos registros
reg_veiculos = cursor.fetchall()
for reg_veiculo in reg_veiculos:
    veiculo = Veiculo(*reg_veiculo)
    print("Placa:", veiculo.placa, ", Marca:", veiculo.marca)

# Fechamento das conexões
cursor.close()
conexao.close()

Placa: AAA0001 , Marca: 1
Placa: BAA0002 , Marca: 1
Placa: CAA0003 , Marca: 2
Placa: DAA0004 , Marca: 2

In [28]:
# Abertura de conexão e aquisição de cursor
conexao = conector.connect("./meu_banco.db")
cursor = conexao.cursor()

# Definição dos comandos 
comando = ''' 
 SELECT Veiculo.placa, Veiculo.ano, Veiculo.cor, Veiculo.motor, Veiculo.proprietario, Marca.nome 
 FROM Veiculo 
 JOIN Marca ON Marca.id = Veiculo.marca;'''
cursor.execute(comando)

# Recuperação dos registros
reg_veiculos = cursor.fetchall()
for reg_veiculo in reg_veiculos:
    veiculo = Veiculo(*reg_veiculo)
    print("Placa:", veiculo.placa, ", Marca:", veiculo.marca)

# Fechamento das conexões
cursor.close()
conexao.close()

Placa: AAA0001 , Marca: Marca A
Placa: BAA0002 , Marca: Marca A
Placa: CAA0003 , Marca: Marca B
Placa: DAA0004 , Marca: Marca B